
@font-face {
  font-family: 'SheepSansBold';
  src: url('SheepSansBold.eot?#iefix') format('embedded-opentype'),  url('SheepSansBold.woff') format('woff'), url('SheepSansBold.ttf')  format('truetype'), url('SheepSansBold.svg#SheepSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
